/examples/ @SpotRZ @SpotRusherZ
/src/ @SpotRZ @SpotRusherZ
/media/ @SpotRZ @SpotRusherZ
/tests/ @SpotRZ @SpotRusherZ

README.md @SpotRZ @SpotRusherZ
LICENSE @SpotRZ @SpotRusherZ
pyproject.toml @SpotRZ @SpotRusherZ
requirements_dev.txt @SpotRZ @SpotRusherZ
setup.cfg @SpotRZ @SpotRusherZ
setup.py @SpotRZ @SpotRusherZ
tox.ini @SpotRZ @SpotRusherZ
