/examples/ @SpotRZ
/src/ @SpotRZ
/media/ @SpotRZ
/tests/ @SpotRZ

README.md @SpotRZ
LICENSE @SpotRZ
pyproject.toml @SpotRZ
requirements_dev.txt @SpotRZ
setup.cfg @SpotRZ
setup.py @SpotRZ
tox.ini @SpotRZ
